.table{
  border: 2px solid black;
  width: 100%;
}
td{
text-align: center; 
height: 50px; 
} 
.container{
position: fixed;
top:50%;
left:50%;
transform: translate(-50%,-50%);

}
#down{
  text-align-last: right;
}
#word_down{
  text-align: right;
}